<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell_0.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>70</integer>
                <key>y</key>
                <integer>832</integer>
            </dict>
            <key>cell_1_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>70</integer>
                <key>y</key>
                <integer>798</integer>
            </dict>
            <key>cell_1_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>70</integer>
                <key>y</key>
                <integer>764</integer>
            </dict>
            <key>cell_1_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>968</integer>
            </dict>
            <key>cell_1_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>934</integer>
            </dict>
            <key>cell_2_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>900</integer>
            </dict>
            <key>cell_2_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>866</integer>
            </dict>
            <key>cell_2_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>832</integer>
            </dict>
            <key>cell_2_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>798</integer>
            </dict>
            <key>cell_3_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>36</integer>
                <key>y</key>
                <integer>764</integer>
            </dict>
            <key>cell_3_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>968</integer>
            </dict>
            <key>cell_3_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>934</integer>
            </dict>
            <key>cell_3_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>900</integer>
            </dict>
            <key>cell_4_1.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>866</integer>
            </dict>
            <key>cell_4_2.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>832</integer>
            </dict>
            <key>cell_4_3.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>798</integer>
            </dict>
            <key>cell_4_4.jpg</key>
            <dict>
                <key>height</key>
                <integer>32</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>32</integer>
                <key>originalWidth</key>
                <integer>32</integer>
                <key>width</key>
                <integer>32</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>764</integer>
            </dict>
            <key>startPlatform.png</key>
            <dict>
                <key>height</key>
                <integer>760</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-132</real>
                <key>originalHeight</key>
                <integer>1024</integer>
                <key>originalWidth</key>
                <integer>1536</integer>
                <key>width</key>
                <integer>1536</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_cells-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d60f1eb97f410c8adf1f6bf8f7069e$</string>
            <key>textureFileName</key>
            <string>gfx_cells-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
