<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombfire.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>782</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>boomShine.png</key>
            <dict>
                <key>height</key>
                <integer>226</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boots_1.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>44</integer>
            </dict>
            <key>boots_2.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boots_3.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>778</integer>
                <key>y</key>
                <integer>370</integer>
            </dict>
            <key>boots_4.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>310</integer>
                <key>y</key>
                <integer>966</integer>
            </dict>
            <key>boots_5.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>118</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>966</integer>
            </dict>
            <key>chip.png</key>
            <dict>
                <key>height</key>
                <integer>156</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>7</real>
                <key>originalHeight</key>
                <integer>198</integer>
                <key>originalWidth</key>
                <integer>198</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>helmet_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>96</integer>
                <key>y</key>
                <integer>966</integer>
            </dict>
            <key>helmet_2.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>966</integer>
            </dict>
            <key>helmet_3.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>148</integer>
            </dict>
            <key>helmet_4.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>82</integer>
            </dict>
            <key>helmet_5.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>230</integer>
            </dict>
            <key>player.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>666</integer>
                <key>y</key>
                <integer>290</integer>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>392</integer>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>396</integer>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>534</integer>
                <key>y</key>
                <integer>392</integer>
            </dict>
            <key>player_bonus_apocalipsys.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>554</integer>
                <key>y</key>
                <integer>290</integer>
            </dict>
            <key>player_sleep.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>896</integer>
                <key>y</key>
                <integer>362</integer>
            </dict>
            <key>player_sleep_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>424</integer>
                <key>y</key>
                <integer>296</integer>
            </dict>
            <key>player_speed.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>896</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>652</integer>
                <key>y</key>
                <integer>160</integer>
            </dict>
            <key>time_screen1.png</key>
            <dict>
                <key>height</key>
                <integer>480</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>480</integer>
                <key>originalWidth</key>
                <integer>320</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>484</integer>
            </dict>
            <key>time_screen2.png</key>
            <dict>
                <key>height</key>
                <integer>480</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>480</integer>
                <key>originalWidth</key>
                <integer>320</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>796</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6a2517ee65c2b6fc75687275ae129d6$</string>
            <key>textureFileName</key>
            <string>gfx_chars-hd.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
