<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombfire.png</key>
            <dict>
                <key>height</key>
                <integer>108</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>284</integer>
            </dict>
            <key>bonus_apocalypse.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>222</integer>
                <key>y</key>
                <integer>552</integer>
            </dict>
            <key>bonus_godmode.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>626</integer>
            </dict>
            <key>bonus_slowmotion.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>426</integer>
                <key>y</key>
                <integer>560</integer>
            </dict>
            <key>bonus_speed.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>438</integer>
                <key>y</key>
                <integer>494</integer>
            </dict>
            <key>boomShine.png</key>
            <dict>
                <key>height</key>
                <integer>226</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>256</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>boots_1.png</key>
            <dict>
                <key>height</key>
                <integer>36</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>122</integer>
                <key>y</key>
                <integer>272</integer>
            </dict>
            <key>boots_2.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>98</integer>
                <key>x</key>
                <integer>122</integer>
                <key>y</key>
                <integer>230</integer>
            </dict>
            <key>boots_3.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>208</integer>
                <key>y</key>
                <integer>444</integer>
            </dict>
            <key>boots_4.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>112</integer>
                <key>x</key>
                <integer>222</integer>
                <key>y</key>
                <integer>290</integer>
            </dict>
            <key>boots_5.png</key>
            <dict>
                <key>height</key>
                <integer>52</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>118</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>230</integer>
            </dict>
            <key>chip.png</key>
            <dict>
                <key>height</key>
                <integer>156</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>7</real>
                <key>originalHeight</key>
                <integer>198</integer>
                <key>originalWidth</key>
                <integer>198</integer>
                <key>width</key>
                <integer>142</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>64</integer>
                <key>width</key>
                <integer>64</integer>
                <key>x</key>
                <integer>438</integer>
                <key>y</key>
                <integer>428</integer>
            </dict>
            <key>helmet_1.png</key>
            <dict>
                <key>height</key>
                <integer>54</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>222</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>helmet_2.png</key>
            <dict>
                <key>height</key>
                <integer>56</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>114</integer>
                <key>y</key>
                <integer>438</integer>
            </dict>
            <key>helmet_3.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>92</integer>
                <key>x</key>
                <integer>116</integer>
                <key>y</key>
                <integer>376</integer>
            </dict>
            <key>helmet_4.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>96</integer>
                <key>x</key>
                <integer>116</integer>
                <key>y</key>
                <integer>310</integer>
            </dict>
            <key>helmet_5.png</key>
            <dict>
                <key>height</key>
                <integer>64</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>64</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>360</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>player.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>326</integer>
                <key>y</key>
                <integer>428</integer>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>596</integer>
            </dict>
            <key>player_2.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>316</integer>
                <key>y</key>
                <integer>530</integer>
            </dict>
            <key>player_3.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>112</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>player_bonus_apocalipsys.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>394</integer>
            </dict>
            <key>player_sleep.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>214</integer>
                <key>y</key>
                <integer>342</integer>
            </dict>
            <key>player_sleep_1.png</key>
            <dict>
                <key>height</key>
                <integer>98</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>108</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>player_speed.png</key>
            <dict>
                <key>height</key>
                <integer>100</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>110</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>326</integer>
            </dict>
            <key>playerglow.png</key>
            <dict>
                <key>height</key>
                <integer>128</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>128</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>230</integer>
                <key>y</key>
                <integer>160</integer>
            </dict>
            <key>wall.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>128</integer>
                <key>width</key>
                <integer>128</integer>
                <key>x</key>
                <integer>374</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a14678835e0d3330e3fef8ffbf9e12$</string>
            <key>textureFileName</key>
            <string>gfx_chars-hd.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
